@model ArticleReadViewModel

<!DOCTYPE html>
	<html lang="zh">
	<head> 
		<title>@Model.Article.Title - 北极星</title>
        <partial name="../Shared/_HeadMeta.cshtml" />
		<meta name="description" content="{{.description}}"/>
		<meta name="keywords" content="{{.keywords}}"/>
    <link rel='stylesheet' type='text/css' href='/assets/index.css' />
	</head>
	<body class="article-read-page">
	<div>
        <partial name="../Shared/_Header.cshtml" />
		<main>
			<article>
				<div class="article-title">
					<h1>@Model.Article.Title</h1>
					<div class="description">@Model.Article.Description</div>
					<div class="keywords-list"> 
                        @foreach(var keyword in Model.KeywordsList) {
	                        <span class="keyword">@keyword</span>
                        }
					</div>
				</div>
                <div class="article-body">
					@Html.Raw(Model.BodyHtml)
				</div>
			</article>
		</main>
	</div>

	</body>
	</html>